.flex {
  display: flex;
}

.footer {
  background-color: #689F39;
}

.footer__section {
  flex: 3;
}

.footer__img {
  flex: 5;
}

.footer--social-media {
  width: 2.5rem;
  display: flex;
  justify-content: flex-start;
  border-radius: 6px;
  margin-left: 9rem;
}

.footer--social-media img {
  background-color: #fff;
  border-radius: 6px;
  height: auto;
  max-height: 32px;
  max-width: 32px;
  margin: 0 10px 0 0;
  padding: 0.2rem;
}

.footer__img img {
  width: 100%;
  height: auto;
}

.footer__section button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 0px;
  color: #689F39;
  font-weight: 800;
  margin-top: 10px;
}

.footer__section--help {
  margin-right: auto;
  width: 13rem;
}

.dark {
  color: #242620;
  font-size: 18px;
  font-weight: 700;
}

.white {
  color: #fff;
}

.footer__section:last-child {
  margin-top: 25px;
  flex:3;
  padding-right: 1rem;
}