.flex {
  display: flex;
}

.footer {
  background-color: #689F39;
}

.footer__section {
  flex: 3;
  position: relative;
}

.footer__img {
  flex: 5;
}

.footer--social-media {
  width: 2.5rem;
  display: flex;
  justify-content: flex-start;
  border-radius: 6px;
  margin-left: 9rem;
}

.footer--social-media img {
  background-color: #fff;
  border-radius: 6px;
  margin: 0 10px 0 0;
  padding: 0.2rem;
}

.footer--social-media a:first-child {
  margin: 0 10px 0 0;
}

.footer__section button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 0px;
  color: #689F39;
  font-weight: 800;
  margin-top: 10px;
}

.footer__section--help {
  margin-right: auto;
  width: 13rem;
}

.dark {
  color: #242620;
  font-size: 18px;
  font-weight: 700;
}

.white, .white a {
  color: #fff;
}

.footer__section:last-child {
  margin-top: 25px;
  flex:3;
  padding-right: 1rem;
}

.newletter__overlay {
  position: relative;
}

.overlay, .newsletter {
  position: absolute;
  width: 94%;
  height: 75%;
  background-color: #ffffff99;
  top: 0;
  border-radius: 6px;
}
.newsletter {
  height: 100%;
}

.overlay h3, .newsletter h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 42%;
  font-size: x-large;
  color: #689F39;
}

.newsletter h3 {
  font-size: large;
  margin: 0;
  margin-top: 5%;
}