.flex {
  display: flex;
}

.footer {
  background-color: #689F39;
}

.footer__section {
  flex: 3;
  position: relative;
}

.footer__img {
  flex: 5;
}

.footer--social-media {
  width: 2.5rem;
  display: flex;
  justify-content: flex-start;
  border-radius: 6px;
  margin-left: 9rem;
}

.footer--social-media img {
  background-color: #fff;
  border-radius: 6px;
  margin: 0 10px 0 0;
  padding: 0.2rem;
}

.footer--social-media a:first-child {
  margin: 0 10px 0 0;
}

.footer__section button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 0px;
  color: #689F39;
  font-weight: 800;
  margin-top: 10px;
}

.footer__section--help {
  margin-right: auto;
  width: 13rem;
}

.dark {
  color: #242620;
  font-size: 18px;
  font-weight: 700;
}

.white, .white a {
  color: #fff;
}

.footer__section:last-child {
  margin-top: 25px;
  flex:3;
  padding-right: 1rem;
}

.newletter__overlay {
  position: relative;
}

.overlay, .newsletter {
  position: absolute;
  width: 94%;
  height: 75%;
  background-color: #ffffff99;
  top: 0;
  border-radius: 6px;
}
.newsletter {
  height: 100%;
}

.overlay h3, .newsletter h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 42%;
  font-size: x-large;
  color: #689F39;
}

.newsletter h3 {
  font-size: large;
  margin: 0;
  margin-top: 5%;
}

.mobile__footer {
  width: 70%;
}

@media screen and (min-width: 1069px) {
  .newsletter {
    height: 200%;
  }
  
  .footer__section {
    margin-right: 2px;
  }

  .white {
    margin: 5px 0;
  }
}

.logo {
  min-width: 50px;
}
  @media screen and (max-width: 1068px) {
  .newsletter {
    height: 150%;
  }

  .footer__section {
    margin-right: 2px;
  }
  
  .white {
    margin: 5px 0;
  }
}
  @media screen and (max-width: 820px) {
    
    .footer__section {
      margin-right: 6px;
    }
    
    .newsletter h3 {
      font-size: medium;
    }  
    
    .footer--social-media {
      margin-left: 6rem;
    }
  }
  
  @media screen and (max-width: 789px) {
    .overlay {
      height: 65%;
    }

    .white {
      font-size: small;
    }
  }

  @media screen and (max-width: 675px) {
     
    .footer--social-media {
      margin-left: 4rem;
    }
  }

  @media screen and (max-width: 600px) {
     
    .footer--social-media {
      margin-left: 3rem;
      margin-top: -1rem;
    }
    .footer__img img {
      margin-top: 2rem;
    }
  }
  
  @media screen and (max-width: 560px) {
     
    .footer--social-media {
      margin-left: 2rem;
      margin-top: -1rem;
    }
    .footer__img img {
      margin-top: 2rem;
    }
  }

  @media screen and (max-width: 530px) {
     
    .footer--social-media {
      margin-left: 1rem;
      margin-top: -1rem;
    }
    .footer__img img {
      margin-top: 2rem;
    }

    .footer__section button {
      width: 5rem;
    }

    .footer__section {
      flex: 10 1;
    }
  }

  @media screen and (max-width: 530px) {
    .footer--social-media {
      margin-left: 0rem;
      margin-top: -1rem;
    }
  }
  @media screen and (max-width: 350px) {
    .footer--social-media {
      flex-direction: column;
      width: 1.5rem;
      margin-right: 1rem;
    }
    .footer--social-media a {
      width: 1rem;
      margin-left: 0.5rem;
    }
  }